<p>This is the movies view.</p>
<br>
<div class="panel panel-default">
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p align="justify">Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
  </div>
  <table ng-app="clientApp" ng-controller="MoviesCtrl" class="table table-hover">
    <thead>
      <th>Title</th>
      <th>URL</th>
      <th>Description</th>
      <th><a class="btn btn-primary btn-block btn-sm" href="/#/create/movie"><span class="glyphicon glyphicon-plus"></span>  Add  </a></th>
    </thead>
    <tbody>
      <tr ng-repeat="movie in movies">
        <td><a ng-href="/#/movie/{{ movie._id }}">{{ movie.title }}</a></td>
        <td>{{movie.url}}</td>
        <td>{{movie.description}}</td>
        <td>
          <div class="button-group">
            <a ng-href="/#/movie/{{ movie._id }}/edit" ng-model="checkModel.left" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
            <a ng-href="/#/movie/{{ movie._id }}/delete" ng-model="checkModel.right" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

